<div class="row">
   <div class="col-12">
      <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid recipe-image">
      <h1>{{ recipe.name }}</h1>
      <div>{{ recipe.description }}</div>
      <div ngbDropdown display="dynamic" class="btn-group margin-10">
         <button ngbDropdownToggle class="btn btn-primary">Manage Recipe</button>
         <div ngbDropdownMenu>
            <a ngbDropdownItem class="pointer" (click)="onAddToShoppingList()">To Shopping List</a>
            <a ngbDropdownItem class="pointer" routerLink="edit">Edit Recipe</a>
            <a ngbDropdownItem class="pointer" (click)="onRemoveRecipe()">Delete Recipe</a>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-12">
      <ul class="list-group">
         <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.name }} - {{ ingredient.amount }}
         </li>
      </ul>
   </div>
</div>
